@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Maven+Pro:wght@400;500;600;700;800;900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


/* bootstrap override  start*/
@media (min-width: 1440px) { 
    .container {
        width: 1280px;
    }
}

@media (min-width: 1920px) { 
    .container {
        width: 1600px;
    }
}
/* bootstrap override end*/

/* reset code start*/

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/*reset code end*/
html, body {
    background-color: #d0cece;
    color: #4a4a4a;
}

header {
    width: 100%;
    height: 70px;
    background-color: #e2e2e24a;
    display: flex;
    align-items: center;
    box-shadow: 0 0 6px 1px #afafaf;
    position: fixed;
    backdrop-filter: blur(50px);
    top: 0;
    z-index: 100;
    justify-content: space-between;
}

header .hero-logo {
    font-size: 28px;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 30px;
}

header .menu {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
}

header .menu .menu-list {
    list-style: none;
    display: flex;
    gap: 20px;
}
header .menu .menu-list .menu-item {
    padding: 0 20px;
}
header .menu .menu-list .menu-item a {
    color: #24241f;
    font-size: 20px;
    font-weight: 600;
}

header #theme {
    padding-right: 30px;
    font-size: 30px;
    cursor: pointer;
    transition: transform 1s, filter 1s;
}

header #theme:hover {
   filter: invert(1);
}

header #theme i {
    color: #000;
}

/**************   MAIN   ************/

#home {
    padding-top: 50px;
}

main .hero-banner {
    height: calc(100vh - 70px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.637)), url(../static/images/hero-banner/profile-hero.JPG);
    
    @media screen and (max-width: 1024px) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.637)), url('../static/images/hero-banner/profile-hero-tab.jpg') no-repeat;
    }

    @media screen and (max-width: 544px) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.637)), url('../static/images/hero-banner/profile-hero-mobile.jpg');
    }
}


main .hero-banner .text-content {
    position: relative;
    top: 50%;
    left: 50%;
    width: fit-content;
    font-weight: bold;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99;
}

main .hero-banner .text-content .main-title {
    color: #d3d3d3;
    font-size: 54px;
    font-weight: 300;
    @media screen and (max-width: 1024px) {
        font-size: 36px;
    }
    @media screen and (max-width: 544px) {
        font-size: 24px;
    }
}

main .bio {
    padding: 60px 20px;

}

main .bio .bio-title {
    padding: 20px;
}

main .content-section {
    padding: 100px;
    
    @media screen and (max-width: 1024px) {
        padding: 35px 0;
    }
}

main .content-section .content-title h2{
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;

    @media screen and (max-width: 1024px) {
        padding: 30px 0;
    }
}

main .bio .bio-wrapper {
    display: flex;
    align-items: center;

    @media screen and (max-width: 544px) {
        flex-direction: column;
    }
}
main .bio .bio-wrapper .bio-thumbnail {
    padding: 30px;
    flex: 1;
    flex-basis: 0;
    text-align: center;
}

main .bio .bio-wrapper .bio-thumbnail img {
    width: 100%;
    border-radius: 50%;
    max-width: 300px;
    box-shadow: 0 0 5px 0px rgb(53, 53, 53);
}

main .bio .bio-wrapper .bio-text {
    flex: 1;
    flex-basis: 0;
}

main .bio .bio-wrapper .bio-text .bio-text-content {
    padding: 20px;
    height: fit-content;
    text-align: justify;
    transition: color  .5s;
    font-size: 16px;
}

main .bio .bio-wrapper .bio-text .bio-text-content::first-letter {
    initial-letter: 2;
    padding-right: 5px;
}

main .bio .bio-wrapper .bio-text .bio-text-content:hover {
    color: #232650;
}

main .portfolio .experience {
    padding: 20px;
    margin: 20px;
    background: #e2e2e2;
    border-radius: 10px;
}


main .portfolio .experience .tenure:after {
    content: ',';
} 

main .portfolio .experience .tenure, main .portfolio .experience .exp-location {
    display: inline-block;
    padding: 0 5px;
}

main .portfolio .experience .roles .role-list {
    list-style: '▸ ';
}

main .portfolio .certification {
    display: flex;
    flex-direction: row;
    background-color: #c6edff;
    margin: 60px;
    border-radius: 20px;
    text-align: center;
    height: 250px;
    
    @media screen and (max-width: 991px) {
        height: 450px;
    }
    
    @media screen and (max-width: 544px) {
        height: 400px;
        margin: 10px;
    }
    @media screen and (max-width: 441px) {
        height: 500px;
    }
}

main .portfolio .certification .certification-title h3 {
    margin-bottom: 20px;
}

main .portfolio .certification .certification-body {
    padding: 20px;
    margin: 0 30px;
    
    @media screen and (max-width: 544px) {
        margin: 0;
        padding: 0;
    }
}

main .portfolio .certification .certification-body .certification-description {
    width: 80%;
    margin: 30px auto;

    @media screen and (max-width: 991px) {
        text-align: justify;
    }
    
    @media screen and (max-width: 544px) {
        text-align: start;
    }
}

main .portfolio .certification .certificate-modal .view-certificate {
    background-color: rgb(8, 23, 112);
    color: #d3d3d3;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    height: 100%;
    padding: 0 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 2s;
}

main .portfolio .certification .certificate-modal {
    display: flex;
}

main .portfolio .certification .certificate-modal .view-certificate .text {
    font-weight: 600;
}

main .portfolio .certification .certificate-modal .certificate {
    background-image: url(../static/images/certificates/SFCCB2C.png);
    width: 709px;
    height: 400px;
    background-size: contain;
    position: absolute;
    opacity: 0;
    left: -50%;
    transition: all 1s;

    @media screen and (max-width: 991px) {
        width: calc(100vw - 10px);
        aspect-ratio: 353 / 199;
    }

}
/* main .portfolio .certification .certificate-modal .view-certificate:hover {
    border-radius: 0;
    position: absolute;
} */

main .portfolio .certification .certificate-modal .view-certificate:hover + .certificate {
    left: 50%;
    opacity: 1;
    display: block;
    transform: translateX(-50%);
}

main .portfolio .certification .certificate-modal .view-certificate:hover {
    background-color: #109204;
}


/* Projects start */
main .projects  .projects-list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    @media screen and (max-width: 544px) {
        padding: 0 5%;
    }
}

main .projects  .projects-list .project-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow:0 0 3px 1px #2763d3;
    padding: 5px 10px;
    border: 1px solid gray;
    margin: 5px;
    border-radius: 8px;
    background:#003477;
    transition: all 1s;
    color: #fff5e6;
    padding: 10px 4%;
    font-size: 20px;
}

main .projects  .projects-list .project-item::before {
    content: "*";
    color: #ffeeff;
    padding-right: 20px;
}

main .projects  .projects-list .project-item:hover {
    background-color: #0c1130;
    transform: translateY(-4px);
}

main .projects  .projects-list .project-item .project-link {
    color: inherit;
    text-decoration: none;
    width: 100%;
}

main .contact .contact-options {
    display: flex;
    justify-content: center;
    gap: 40px;

    @media screen and (max-width: 544px) {
        flex-direction: column;
        align-items: center;
    }
}

main .contact .contact-options .contact-option a {
    min-width: 200px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    padding: 1rem;
    border: 1px solid #2174e2;
    border-radius: 3px;
    background-color: #1051a5;
    box-sizing: border-box;
    color: #fafafa;
    text-decoration: none;
}

/*********************** FOOTER ********************/
footer {
    background-color: #bebebe;
    padding: 200px;

    @media screen and (max-width: 544px) {
        padding: 20px;
    }
}

footer a.go-to-top {
    font-size: 16px;
    border: 2px solid #337ab7;
    border-radius: 50%;
    padding: 10px;
    line-height: 1;
    display: inline-block;
}

footer .footer-content {
    text-align: center;
}